*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 107, 148)  ; 
    background-image: linear-gradient(to right, rgb(5, 107, 148) , rgb(139, 222, 255) ); background-size: cover; background-position: center;
    margin-top: 0;
    min-height: 100vh;
    overflow: hidden;
}
main{
    margin-top: 100px; margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    margin-top: 50px;
    text-align: center; font-size: 1.8rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600; color: rgb(250, 247, 245);
    word-spacing: 4px; letter-spacing: 1px;
}
.piano{
    display: flex;
}
.key{
    height: calc(var(--width)*4);
    width: var(--width);
}
.white{
    --width: 100px;
    height: 400px;
    background-color: white;
    border: 1px solid #333;
}
.white.active{
    background-color: rgb(224, 222, 222);
}
.black{
    --width: 60px;
    background-color: black;
    margin-right: calc(var(--width)/ -2); 
    margin-left:  calc(var(--width)/ -2);
    z-index: 2;
}
.black.active{
    background-color: rgb(78, 77, 77);
}