body{
    background-color: rgb(228, 253, 245);
}

@media screen and (max-width: 1500px) {
    #clock-container, #hour, #minute, #second {
      width: 100%; 
    }
  }

#clock-container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 80%;
}
#hour, #minute, #second{
    position: absolute;
    background: rgb(75, 12, 12);
    border-radius: 500px;
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 17%;
    top: 34.8%;
    left: 39.2%;  
}
#minute{
    width: 1%;
    height: 20%;
    top: 31.6%;
    left: 39.9%;
}
#second{
    width: 0.5%;
    height: 25%;
    top: 26.7%;
    left: 39.9%;
}
.alarm-container{
    text-align: center; margin-right: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#alarm{
    width: 30vw; margin-bottom: 30px;
    padding: 15px; border: 2px rgb(27, 26, 26); border-radius: 8px; background: rgb(190, 244, 253);
    font-size: 1.2rem;
}
#set-alarm{
    margin-bottom: 30px;
    padding: 10px; border: 2px rgb(27, 26, 26); border-radius: 8px; background: rgb(242, 252, 206);
    font-size: 1rem;
    cursor: pointer;
}
